# See https://docs.github.com/en/code-security/supply-chain-security/keeping-your-dependencies-updated-automatically
# for all available configuration options
version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    commit-message:
      prefix: "deps"
    labels:
      - "dependencies"
      - "rust"
    reviewers:
      - "builtbyjonas"
    assignees:
      - "builtbyjonas"
